<div class="row">
    <div style="text-align: center" class="well col-md-8 col-md-offset-2">
        <h1>Welcome to the Donation Application Site</h1>
        <div class="col-md-6">
            <a class="btn btn-primary btn-block" href="/home/Register">Register</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-block" href="/home/Login">Login</a>
        </div>
    </div>
</div>