<div class="row">
    <div class="well col-md-4 col-md-offset-4">
        <form method="post" action="/home/Login">
            <input type="text" class="form-control" placeholder="Email" name="email" />
            <br />
            <input type="password" class="form-control" placeholder="Password" name="password" />
            <br />
            <button class="btn btn-success">Sign In</button>
        </form>
    </div>
</div>