<h2 style="text-align: center">Pending Applications</h2>

<table class="table table-bordered">
    <tr>
        <th>Date</th>
        <th>Applicant Name</th>
        <th>Applicant Email</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
</table>

@section scripts
{
    <script src="~/Scripts/pending.js"></script>
}
